/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
#odontogenesisF:before{
    content: ' ';
  /* display: block; */
  position: fixed;
  /* left: 0; */
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url(../IMG/fondo+tumor+escamoso.jpg);
  background-repeat: no-repeat;
  /* background-position: 50% 0; */
  background-size: cover;
}
.Titulo_typing{
    font-size:  50px;
    font-weight: bold;
    text-align: center;
   margin: 2%;
   text-shadow: 5px 3px 10px rgb(87, 36, 100);
   animation: teclear 2s steps(30), efecto .1s step-end infinite alternate;
   position: relative;
 }
 /* keyframes*/
@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%,  0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100%  100%, 0% 100%);
    }
}
@keyframes efecto{
    50% {
        border-color: transparent;
    }
}
.Texto{
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    margin:  3%;
    padding-top: 0;
    position: relative;
}
.Subtitulo{
    font-size:  35px;
    font-weight: bold;
    text-align: center;
    
    /* padding-bottom: 0%; */
   text-shadow: 5px 3px 10px rgb(87, 36, 100);
   position: relative;
}
#odontogenesis{
    position: relative;
    left: 42%;
    
}
table{
    position: relative;
    font-size: 35px;
    margin-bottom: 1%;
}
table td{
    text-align: center;
    border: solid 7px rgb(237, 43, 255);
    box-shadow:5px 3px 10px rgb(87, 36, 100) ;
    
}
#epitelial{
    position: relative;
    left: 15%;
}
#mesenquimal{
    position: relative;
 
    left: 43%;
}
footer{
    width:100%;
    max-height: max-content;
    
    background: rgb(0, 0, 0);
    color: whitesmoke;
  
    opacity: .95;
    text-align: center;     
}


@media (max-width: 380px) {
    .Subtitulo{
        margin-left: 95px;
    }
    #odontogenesis{
        position: absolute;
        top: 165%;
        margin-left: -80px;
    }
    table{
        padding-top: 140%;
        width: 450px;
    }
    #epitelial{
        top: 300%;
        margin-left: -80px;
    }
    #mesenquimal{
        top: 300%;

    }
    .footerodontogenesis{
        height: 30%;
        width: 450px;
    }
    /* footer{
        position: absolute;
        top: 310%;
        height: 20%;
    } */
}