/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/* FONDO */

    #tumores{
        color: white;
    }
    #tumores:before{
        content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 347.5%;
  opacity: 0.6;
  background-image: url(../IMG/adenomatoide.png.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
    }
    #mixtosf{
        background: url(../IMG/fondo_tumor_mixto_primordial.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #epiteliales{
        background: url(../IMG/fondo+tumor+escamoso.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #epitelial_ameloblastoma{
        background: url(../IMG/fondo_tumor_ameloblastoma_uniquistico.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #tiposquiste:before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 333%;
        opacity: 0.6;
        background-image: url(../IMG/fondo2.jpeg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    #quiste:before{
        content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 346%;
  opacity: 0.6;
  background-image: url(../IMG/fondo5.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
        }
        #mesenquimales:before{
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 228.2%;
            opacity: 0.6;
            background-image: url(../IMG/fibroma\ cemento\ osificante.png);
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
        }
    
/* TITULO */
 .Titulos{
    font-size:  50px;
    font-weight: bold;
    text-align: center;
   margin: 10%;
   text-shadow: 5px 3px 4px rgb(87, 36, 100);
   color: white;
   position: relative;
 }
/*  TEXTO */
.Texto{
    font-size: 25px;
    font-weight: normal;
    text-align: justify;
    margin:  10%;
    padding-top: 0;
    color: white;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    position: relative;
}
a{
    text-decoration: underline rgb(62, 0, 62);
    color: rgb(221, 221, 221);
    text-shadow:5px 5px 10px rgb(0, 0, 0) ;
}
a:hover{
    text-decoration: white underline;
    color: rgb(214, 129, 214);
}
.Subtitulo{
    font-size:  35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
   text-shadow: 5px 3px 10px rgb(87, 36, 100);
   color: white;
   position: relative;
   margin: 5%;

}
/* PIE DE PAGINA */
footer{
    height: 10%;
    background: rgb(0, 0, 0);
    color: whitesmoke;
    opacity: 0.7;
}
footer:hover{
    opacity: .9; 
}
footer p{
    text-align: center;
    
}
#Ftumores{
    margin-top: 0%;
}
.botones{
    margin-left: 40%;
    padding-bottom: 10%;
    
}
.boton{
    padding-right: 10%;
}
.boton button{
    width: 120px;
    height: 60px;
    font-size: 30px;
    
}
#ba{
    border-radius:0 10px 0 10px ;
    border: none;
    box-shadow: 5px 5px 10px 5px black ;
    background: url("../IMG/200w.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: whitesmoke ;
}

#bb{
    border: none;
    box-shadow: 5px 5px 10px 5px black ;
    border-radius: 15px 0 15px 0;
    background: url("../IMG/200w.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: whitesmoke ;
}
/* TUMORES Y QUISTES */
.tablacomp{
    width: 84%;
    border: 4px solid rgb(155,81,224);
    margin-left: 13%;
    /* margin-right: 22%; */
    border-radius: 3%;
    box-shadow:  -5px -5px 10px #000;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(200px) rotateY(3deg);
    transition: .2s;
    /* opacity: .5; */
    background-image: linear-gradient(to left, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
}
.tablacomp2{
    width: 82%;
    border: 4px solid rgb(155,81,224);
    margin-left: 7%;
    /* margin-right: 5%; */
    margin-top: 2%;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #000;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(200px) rotateY(-3deg);
    transition: .2s;
    background-image: linear-gradient(to left, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
}
.Textot{
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    padding:  5%;
    padding-top: 0;
    text-shadow: 5px 7px 10px rgb(0, 0, 0);
    color: white;
 
    
}
.Textott{
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    padding:  5%;
    padding-top: 0;
    
}
.tablacomp:hover{
transform: perspective(100px) rotateY(0deg);
}

.tablacomp2:hover{
    transform: perspective(100px) rotateY(0deg);
}
.tablacompQ{
    width: 80%;
    border: 4px solid rgb(155,81,224);
    margin-left: 16%;
    margin-right: 22%;
    border-radius: 2%;
    box-shadow:  -5px -5px 10px #000;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(200px) rotateY(3deg);
    transition: .2s;
    position: relative;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
}
.tablacompQ2{
    width: 80%;
    border: 4px solid rgb(155,81,224);
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 2%;
    box-shadow: 5px 5px 10px #000;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(200px) rotateY(-3deg);
    transition: .2s;
    position: relative;
    background-image: linear-gradient(to left, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
}
.tablacompQ:hover{
transform: perspective(100px) rotateY(0deg);
}

.tablacompQ2:hover{
    transform: perspective(100px) rotateY(0deg);
}
.tiposQ{
    font-size: 24px;
    color: white;
    background-image: linear-gradient(to left, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
    border-radius: 15px ;
    letter-spacing: 2px;
    cursor: pointer;
    border: white solid 2px;
    transition: .5s;
    transition-delay: .2s;
    opacity: 0.9;
    margin-left: 42%;
    margin-top: 4%;
    margin-bottom: 0.4%;
}
.tiposQ:hover{
    margin-left: 41%;
letter-spacing: 4px;
opacity: 1;
border: solid white 2px;
}
.bt{
    margin-top: 0%;
    margin-left: 31%;
    padding: 3%;
}
.tiposT{
    font-size: 24px;
    color: white;
    background-image: linear-gradient(to left, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));    border-radius: 15px ;
    letter-spacing: 1px;
    cursor: pointer;
    border-color: white;
    transition: .5s;
    transition-delay: .2s;
    opacity: 0.9;
    padding: 0.5%;
    margin: 2%;
}
.tiposT:hover{
    /* margin-left: 20%; */
/* font-size: 24px; */
letter-spacing: 4px;
opacity: 1;
border: solid white 2px;
}
.espacio{
    padding: 1%;
}
/* -tarjetas de mp, no modificar, gracias- */

 /* Cards: tipos de quistes*/

 .card {
    position: relative;
    width: 25%;
    height: 350px;
    margin-left: 6%;
    margin-bottom: 5%;
    display: inline-block;
   

}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 3.5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(119, 78, 159);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;

}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;

}

.card .back .link {
    color: #f3f3f3;

}

.card .back h3 {
     font-size: 30px;
     margin-top: 20px;
     letter-spacing: 2px;


}

.card .back p
{
    letter-spacing: 1px;

}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Menu desplegable en circulo */


.Despliega li{
    position: absolute;
    top: 50%;
    left: 40%;
    list-style: none;
    transform-origin:150%;
    transition: 0.5s;
    transition-delay:calc(0.1s * var(--i)) ;
    transform: rotate(0deg) translateX(80px);/*rotacion*/
}
.Despliega li img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    transform: rotate(calc(360deg/ -3*var(--i)));/*rotacion*/
    box-shadow: 0 3px 4px black;
    color: #000;
    transition: 0.5s;

}
.DespliegaInfo img{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 150px;
    height: 150px;
    background: whitesmoke;
   
   
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px black;
    transition: transform 1.25s ;
}
.Despliega.active .toggle{
    transform: rotate(360deg);
}
.Despliega.active li{
    transform: rotate(calc(360deg/3*var(--i)));
}