/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/* FONDO */

#fibromaO:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/fibroma\ odontogenico.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    }
#escamoso:before{
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 155%;
  opacity: 0.6;
  background-image: url(../IMG/fondo\ tumor\ escamoso.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#calcificante:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/fondo\ calcificante\ 2.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#uniquistico:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/ameloblastoma\ uniquistico\ fondo.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#adenomatoide:before{
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 155%;
  opacity: 0.6;
  background-image: url(../IMG/fondo\ adenomatoide\ 2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

#convencional:before{
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 155%;
  opacity: 0.6;
  background-image: url(../IMG/convencional.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  color: white;
}
#periferico:before{
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 155%;
  opacity: 0.6;
  background-image: url(../IMG/periferico.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#adenoide:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 159%;
    opacity: 0.6;
    background-image: url(../IMG/fondo\ adenoide.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#metastasico:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/fondo\ adenoide.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#odontoma:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/odontomafondoo.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#primordial:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/primordial\ .png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#fibromaAmeloblastico:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/fibroma\ ameloblastico\ .png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#celulasF:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/celulas\ fantasma.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    
}
#cementoblastoma:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/IMG\ 2/cementoblastoma.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    /*  */
}
#fibromaC:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/fibroma\ cemento\ osificante.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
#mixoma:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 155%;
    opacity: 0.6;
    background-image: url(../IMG/fondo_mixoma.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
/* TITULO */
 .Titulo_typing{
    font-size:  50px;
    font-weight: bold;
    text-align: center;
   padding: 2%;
   text-shadow: 5px 3px 10px rgb(87, 36, 100);
   animation: teclear 2s steps(30), efecto .1s step-end infinite alternate;
   position: relative;
 }
 /* .Titulo_typing2{
    font-size:  50px;
    font-weight: bold;
    text-align: center;
    margin-top: 53%;
   padding: 2%;
   animation: teclear 2s steps(30), efecto .1s step-end infinite alternate;
   text-decoration: none;
 } */
 a{
    color: black;
    text-shadow: 5px 3px 10px rgb(87, 36, 100);
 }
/* keyframes*/
@keyframes teclear{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%,  0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100%  100%, 0% 100%);
    }
}
@keyframes efecto{
    50% {
        border-color: transparent;
    }
}
.Subtitulo_typing{
    font-size:  35px;
    margin-bottom: 2%;
    font-weight: bold;
    text-align: center;
   text-shadow: 5px 3px 10px rgb(87, 36, 100);
   animation: teclear 4s steps(30), efecto .9s step-end infinite alternate;
   position: relative;
}
   @keyframes teclear2{
    from{
        clip-path: polygon(0 0, 0 0, 0 100%,  0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100%  100%, 0% 100%);
    }
}
@keyframes efecto2{
    50% {
        border-color: transparent;
    }
}

 /* Cinta de opciones*/
 .Opciones{
    position: absolute;
    left: 19%;
    width: 70%;
    cursor: pointer;
 }

 .Opciones li{
    display: inline;
    padding: 10px;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    /* text-shadow: 5px  3px 10px rgb(87, 36, 100); */
    text-shadow: 6px  6px 7px black;
    transition: .2s;
 }
 .Opciones li:hover{
    box-shadow: 2px 3px 5px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
    
 }
 .OpcionesAdenomatoide{
    position: absolute;
    left: 11%;
    width: 83%;
    cursor: pointer;
 }

 .OpcionesAdenomatoide li{
    display: inline;
    padding: 10px;
    align-items: center;
    font-size: 25px;
    font-weight: normal;
    /* text-shadow: 5px  3px 10px rgb(87, 36, 100); */
    text-shadow: 6px  6px 7px black;
    transition: .2s;
 }
 .OpcionesAdenomatoide li:hover{
    box-shadow: 2px 3px 5px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
 }
 /* definicion */
 .Definicion{
    width: 75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
    
 }
 .Localizacion{
    width: 75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));

 }
 .Edad{
    width: 35%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 27%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));

 }
 .Sexo{
    width: 35%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 27%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));

 }
 .Clinica{
    width:75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
 }  
 .Inmunohistoquimica{
    width:75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
 }
 .Patogenesis{
    width:75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
 }
 .Tratamiento{
    width:75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));
 }
.Pronostico{
    width:75%;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    /* padding:  10%; */
    position: absolute;
    top: 43%;
    left: 11%;
    text-align: justify;
    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 6px black;
    background-image: linear-gradient(to right, rgba(166, 102, 231, 0.7) ,rgba(255, 107,245,0.7));

}
 
/*  TEXTO */
.Texto{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    padding:  0%;
    padding-top: 0;
}
.Subtitulo{
    font-size:  35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
   text-shadow: 5px 3px 10px rgb(87, 36, 100);
}

/* PIE DE PAGINA */
footer{
    height: 10%;
    background: black;
    color: whitesmoke;
    position: relative;
    margin-top:60%;
}
footer p{
    text-align: center;
}
#Ftumores{
    margin-top: 57.2%;
}
#FtumoresM{
    margin-top: 0;
}
.botones{
    margin-left: 40%;
    padding-bottom: 10%;
    
}
.boton{
    padding-right: 10%;
}
.boton button{
    width: 120px;
    height: 60px;
    font-size: 30px;
    
}
#ba{
    border-radius:0 10px 0 10px ;
    z-index: 1;
    
    background: url("../IMG/tru.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#bb{
    border: none;
    box-shadow: 5px 5px 10px 5px red ;
    border-radius: 15px 0 15px 0;
    background: url("../IMG/llenar.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: whitesmoke ;
}
.Textot{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding:  5%;
    padding-top: 0;
}
  .Despliega li{
    position: absolute;
    top: 85%;
    left: 40%;
    list-style: none;
    transform-origin:150%;
    transition: 0.5s;
    transition-delay:calc(0.1s * var(--i)) ;
    transform: rotate(0deg) translateX(80px);/*rotacion*/
}
.Despliega li img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background: white;
    transform: rotate(calc(360deg/ -6*var(--i)));/*rotacion*/
    box-shadow: 0 3px 4px black;
    color: #000;
    transition: 0.5s;
    

}
.DespliegaInfo img{
    position: absolute;
    top: 82%;
    left: 38%;
    width: 150px;
    height: 150px;
    background: whitesmoke;
    background-size: 100% 100%;
    margin-left: 6%;   
   
    z-index: 10;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 3px 4px black;
    transition: transform 1.25s ;
}
.Despliega.active .toggle{
    transform: rotate(360deg);
}
.Despliega.active li{
    transform: rotate(calc(360deg/6*var(--i)));
    position: absolute;
    top: 80%;
    left: 28%;
    transform-origin: 160%;
}
.Despliega.active li img{
    width: 180px;
    height: 180px;
}
@keyframes waveAnim {
   
    0%, 100% {
        
      clip-path: polygon(
        0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
       
      clip-path: polygon(0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
      );
    }
  }
  .tumorescamoso{
    .Despliega li{
        position: absolute;
        top: 76%;
        left: 40%;
        list-style: none;
        transform-origin:150%;
        transition: 0.5s;
        transition-delay:calc(0.1s * var(--i)) ;
        transform: rotate(0deg) translateX(80px);/*rotacion*/
    }
    .Despliega li img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        background: white;
        transform: rotate(calc(360deg/ -4*var(--i)));/*rotacion*/
        box-shadow: 0 3px 4px black;
        color: #000;
        transition: 0.5s;
        
    
    }
    .DespliegaInfo img{
        position: absolute;
        top: 73%;
        left: 38%;
        width: 150px;
        height: 150px;
        background: whitesmoke;
        background-size: 100% 100%;
        margin-left: 6%;   
       
        z-index: 10;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 3px 4px black;
        transition: transform 1.25s ;
    }
    .Despliega.active .toggle{
        transform: rotate(360deg);
    }
    .Despliega.active li{
        transform: rotate(calc(360deg/4*var(--i)));
        position: absolute;
        top: 70%;
        left: 29%;
        transform-origin: 150%;
    }
    .Despliega.active li img{
        width: 180px;
        height: 180px;
    }
  }
.uniquistico{
    .Despliega li{
        position: absolute;
        top: 80%;
        left: 40%;
        list-style: none;
        transform-origin:150%;
        transition: 0.5s;
        transition-delay:calc(0.1s * var(--i)) ;
        transform: rotate(0deg) translateX(80px);/*rotacion*/
    }
    .Despliega li img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        background: white;
        transform: rotate(calc(360deg/ -7*var(--i)));/*rotacion*/
        box-shadow: 0 3px 4px black;
        color: #000;
        transition: 0.5s;
        
    
    }
    .DespliegaInfo img{
        position: absolute;
        top: 78%;
        left: 38%;
        width: 150px;
        height: 150px;
        background: whitesmoke;
        background-size: 100% 100%;
        margin-left: 6%;   
       
        z-index: 10;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 3px 4px black;
        transition: transform 1.25s ;
    }
    .Despliega.active .toggle{
        transform: rotate(360deg);
    }
    .Despliega.active li{
        transform: rotate(calc(360deg/7*var(--i)));
        position: absolute;
        top: 76%;
        left: 30%;
        transform-origin: 150%;
    }
    .Despliega.active li img{
        width: 180px;
        height: 180px;
    }
}
.convencional{
    .Despliega li{
        position: absolute;
        top: 80%;
        left: 40%;
        list-style: none;
        transform-origin:150%;
        transition: 0.5s;
        transition-delay:calc(0.1s * var(--i)) ;
        transform: rotate(0deg) translateX(80px);/*rotacion*/
    }
    .Despliega li img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        background: white;
        transform: rotate(calc(360deg/ -8*var(--i)));/*rotacion*/
        box-shadow: 0 3px 4px black;
        color: #000;
        transition: 0.5s;
        
    
    }
    .DespliegaInfo img{
        position: absolute;
        top: 77%;
        left: 38%;
        width: 150px;
        height: 150px;
        background: whitesmoke;
        background-size: 100% 100%;
        margin-left: 6%;   
       
        z-index: 10;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 3px 4px black;
        transition: transform 1.25s ;
    }
    .Despliega.active .toggle{
        transform: rotate(360deg);
    }
    .Despliega.active li{
        transform: rotate(calc(360deg/8*var(--i)));
        position: absolute;
        top: 75%;
        left: 26%;
        transform-origin: 170%;
    }
    .Despliega.active li img{
        width: 180px;
        height: 180px;
    }
}
.extraoseo{
    .Despliega li{
        position: absolute;
        top: 76%;
        left: 40%;
        list-style: none;
        transform-origin:150%;
        transition: 0.5s;
        transition-delay:calc(0.1s * var(--i)) ;
        transform: rotate(0deg) translateX(80px);/*rotacion*/
    }
    .Despliega li img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        background: white;
        transform: rotate(calc(360deg/ -4*var(--i)));/*rotacion*/
        box-shadow: 0 3px 4px black;
        color: #000;
        transition: 0.5s;
        
    
    }
    .DespliegaInfo img{
        position: absolute;
        top: 73%;
        left: 38%;
        width: 150px;
        height: 150px;
        background: whitesmoke;
        background-size: 100% 100%;
        margin-left: 6%;   
       
        z-index: 10;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 3px 4px black;
        transition: transform 1.25s ;
    }
    .Despliega.active .toggle{
        transform: rotate(360deg);
    }
    .Despliega.active li{
        transform: rotate(calc(360deg/4*var(--i)));
        position: absolute;
        top: 70%;
        left: 29%;
        transform-origin: 150%;
    }
    .Despliega.active li img{
        width: 180px;
        height: 180px;
    }
}
.adenoide{
    .Despliega li{
        position: absolute;
        top: 76%;
        left: 40%;
        list-style: none;
        transform-origin:150%;
        transition: 0.5s;
        transition-delay:calc(0.1s * var(--i)) ;
        transform: rotate(0deg) translateX(80px);/*rotacion*/
    }
    .Despliega li img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        background: white;
        transform: rotate(calc(360deg/ -3*var(--i)));/*rotacion*/
        box-shadow: 0 3px 4px black;
        color: #000;
        transition: 0.5s;
        
    
    }
    .DespliegaInfo img{
        position: absolute;
        top: 73%;
        left: 38%;
        width: 150px;
        height: 150px;
        background: whitesmoke;
        background-size: 100% 100%;
        margin-left: 6%;   
       
        z-index: 10;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 3px 4px black;
        transition: transform 1.25s ;
    }
    .Despliega.active .toggle{
        transform: rotate(360deg);
    }
    .Despliega.active li{
        transform: rotate(calc(360deg/3*var(--i)));
        position: absolute;
        top: 70%;
        left: 29%;
        transform-origin: 150%;
    }
    .Despliega.active li img{
        width: 180px;
        height: 180px;
    }
}
.fibromaA{
    .Despliega li{
        position: absolute;
        top: 76%;
        left: 40%;
        list-style: none;
        transform-origin:150%;
        transition: 0.5s;
        transition-delay:calc(0.1s * var(--i)) ;
        transform: rotate(0deg) translateX(80px);/*rotacion*/
    }
    .Despliega li img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 20%;
        background: white;
        transform: rotate(calc(360deg/ -5*var(--i)));/*rotacion*/
        box-shadow: 0 3px 4px black;
        color: #000;
        transition: 0.5s;
        
    
    }
    .DespliegaInfo img{
        position: absolute;
        top: 73%;
        left: 38%;
        width: 150px;
        height: 150px;
        background: whitesmoke;
        background-size: 100% 100%;
        margin-left: 6%;   
       
        z-index: 10;
        border-radius: 20%;
        cursor: pointer;
        box-shadow: 0 3px 4px black;
        transition: transform 1.25s ;
    }
    .Despliega.active .toggle{
        transform: rotate(360deg);
    }
    .Despliega.active li{
        transform: rotate(calc(360deg/5*var(--i)));
        position: absolute;
        top: 70%;
        left: 28.5%;
        transform-origin: 165%;
    }
    .Despliega.active li img{
        width: 180px;
        height: 180px;
    }
}